{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example2-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<img src={{ asset('logo/cybermatos.png') }} width="150px" alt="">
		<h1>CyberMatos</h1>
		<p>Sites de produits informatique, incontournable pour les bonnes affaires !</p>
		<ul>
			<li>Du matos increvable</li>
			<li>Des prix défiant toute concurrence</li>
		</ul>
	</div>
	<div class="example2-wrapper">
		<pre>
			      _____    _____      _____       _____        ______        _____
			  ___|\    \  |\    \    /    /| ___|\     \   ___|\     \   ___|\    \                
			 /    /\    \ | \    \  /    / ||    |\     \ |     \     \ |    |\    \               
			|    |  |    ||  \____\/    /  /|    | |     ||     ,_____/||    | |    |              
			|    |  |____| \ |    /    /  / |    | /_ _ / |     \--'\_|/|    |/____/               
			|    |   ____   \|___/    /  /  |    |\    \  |     /___/|  |    |\    \               
			|    |  |    |      /    /  /   |    | |    | |     \____|\ |    | |    |              
			|\ ___\/    /|     /____/  /    |____|/____/| |____ '     /||____| |____|              
			| |   /____/ |    |`    | /     |    /     || |    /_____/ ||    | |    |              
			 \|___|    | /    |_____|/      |____|_____|/ |____|     | /|____| |____|              
			   \( |____|/        )/           \(    )/      \( |_____|/   \(     )/                
			    '   )/           '             '    '        '    )/       '     '                 
			        '                                             '                                
			                                                                                       
			     ______  _______          ____   _________________       _____             ______  
			    |      \/       \    ____|\   \ /                 \ ____|\    \        ___|\     \ 
			   /          /\     \  /    /\    \\______     ______//     /\    \      |    |\     \
			  /     /\   / /\     ||    |  |    |  \( /    /  )/  /     /  \    \     |    |/____/|
			 /     /\ \_/ / /    /||    |__|    |   ' |   |   '  |     |    |    | ___|    \|   | |
			|     |  \|_|/ /    / ||    .--.    |     |   |      |     |    |    ||    \    \___|/ 
			|     |       |    |  ||    |  |    |    /   //      |\     \  /    /||    |\     \    
			|\____\       |____|  /|____|  |____|   /___//       | \_____\/____/ ||\ ___\|_____|   
			| |    |      |    | / |    |  |    |  |`   |         \ |    ||    | /| |    |     |   
			 \|____|      |____|/  |____|  |____|  |____|          \|____||____|/  \|____|_____|   
			    \(          )/       \(      )/      \(               \(    )/        \(    )/     
				 '          '         '      '        '                '    '          '    '

		</pre>
		<p>---->
			<a href="{{ path('app_product_index') }}">Voir le matos</a>
		</p>
	</div>
{% endblock %}
