<form method="post" action="{{ path('app_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer ce produit?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
	<button class="btn">Supprimer</button>
</form>
